<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Los tours de Pepe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reservas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Horarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mañana</a></li>
              <li><a class="dropdown-item" href="#">Tarde</a></li>
              <li><a class="dropdown-item" href="#">Noche</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<h2>TOURS DE CUSCO</h2>
<div *ngFor="let producto of productos">
    <img [src]="producto.imagen" height="150px" alt="img">
    <h3>{{producto.nombre}}</h3>
    <p>Precio: {{producto.precio}}</p>  
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel h-55">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<input type="text" required [(ngModel)]="o_nombre">
<input type="text" required [(ngModel)]="o_apellido">
<input type="number" required [(ngModel)]="o_edad">
<button (click)="agregarPersona()">Agregar</button>
<table>
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let per of personas; index as i">
            <td>{{per.nombre}}</td>
            <td>{{per.apellido}}</td>
            <td>{{per.edad}}</td>
            <td><button (click)="eliminarPersona(i)">Eliminar</button></td>
        </tr>
    </tbody>
</table>

<input type="text" required [(ngModel)]="name">
<button (click)="agregarNombre()">Agregar</button>
<ul>
    <li *ngFor="let nombre of nombres; index as i">
        {{ i }} - {{ nombre }}
        <button (click)="eliminarNombre(i)">Eliminar</button>
    </li>
</ul>

<h1>*ngIf</h1>
<p *ngIf="btn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusantium nisi quo officiis. Labore commodi earum adipisci non neque ratione officia repudiandae animi excepturi nisi, ad possimus pariatur! Veniam, quidem.</p>


<h1>NG MODEL</h1>
<input type="text" [(ngModel)]="persona.nombre">
<input type="email" required #apellidoInput="ngModel" [(ngModel)]="persona.apellido">
<p>Valido: {{apellidoInput.valid}}</p>
<h1>EVENT BIDING</h1>
<button [disabled]="btn">Enviar</button>
<button (click)="cambioBoton()">Cambio</button>
<button (click)="incrementaEdad()">incrementaEdad</button>
<div>
    <p>Edad: {{persona.edad}}</p>
    <input type="text" [value]="persona.nombre" (keyup)="cambioNombre($event)">
</div>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, omnis. Blanditiis, nostrum debitis error praesentium ex id, beatae officia quae rerum saepe, incidunt sequi nulla repellendus molestias illo pariatur ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius natus debitis blanditiis dicta hic consequatur fugit, accusantium vero corporis. Sint maiores impedit eveniet veniam harum beatae vel. Neque, incidunt obcaecati?</p>
</div>
<h1>PROPERTY BIDING</h1>
<button [disabled]="btn">Enviar</button>
<button (click)="cambioBoton()">Cambio</button>
<img [src]="imagen" height="100px" alt="img">
<div>
    <input type="text" [value]="persona.nombre">
    <input type="text" [value]="persona.apellido">
    <progress max="50" [value]="persona.edad"></progress>
    <img [src]=persona.imag height="100px" alt="img">
</div>


<h1>Hola mundooo.. nuevamente</h1>
<h2>{{titulo.repeat(6)}}</h2>
<p>la suma de 5+8 es: {{5+8}}</p>
<img src={{imagen}} alt="img">